# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
bin/
obj/
Debug/
Release/
x64/
x86/
arm/
arm64/

# NuGet Packages
**/packages/*
!**/packages/build/

# NuGet metadata
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
node_modules/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/   